body {
    background-color: black;
}

#mainbody {
    margin-left: 40%;
    margin-top: 9%;
    background: linear-gradient(#d3f7fe, #79dcf0, #009bff);
    width: 250px;
    height: 390px;
    border: solid 6px;
    border-color: ghostwhite;
    border-radius: 12px;
}

#screen {
    border-width: 5px;
    margin-left: 12px;
    width: 85%;
    height: 41px;
    margin-top: 14px;
    border-color: grey;
    border-radius: 8px;
    font-size: xx-large;
    font-family: sans-serif;
    pointer-events: none;
}

.but {
    width: 248px;
    height: 321px;
    margin-left: 1px;
}

button {
    width: 37px;
    height: 45px;
    margin-top: 16px;
    background: linear-gradient(#d3f7fe, #d3f7fe, #94d2fb);
    margin-left: 17px;
    border: solid grey;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(#d8f9ff, #4eaae8);
}